body {
  font-family: Source Code Pro, Consolas, Menlo, monospace !important;
}

#topArea {
  background: white;
}

svg {
  width: 100%;
  height: auto;
}

.error #previewArea {
  display: none;
}

#error,
#loading,
.error #loading {
  display: none;
}

#error {
  margin: 20px;
  background: palevioletred;
  padding: 30px;
}

.loading #loading,
.error #error {
  display: block;
}

#playArea {
  display: none;
}
