body {
  font-family: Source Code Pro, Consolas, Menlo, monospace !important;
}

#topArea {
  background: white;
}

svg {
  width: 100%;
  max-height: 33vh;
  
}

.error #previewArea {
  display: none;
}

#error,
#loading,
.error #loading {
  display: none;
}

#error {
  margin: 20px;
  background: palevioletred;
  padding: 30px;
}

.loading #loading,
.error #error {
  display: block;
}

.playArea {
  display: none;
}

.crosshatch {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8'><path fill='#fff' d='M0 0h8v8h-8z'/><path d='M0 0l8 8zm8 0l-8 8z' stroke-width='.5' stroke='#aaa'/></svg>");
  background-repeat: repeat;
}